html {
    background: url(./Images/atha.jpg) no-repeat left fixed;
    background-size: 45% 100%; 
    background-color:palevioletred;
  }
  
 button { 
  font-size: 20px;
  padding: 25px 20px;
  position: relative; left: 50%;
  margin: 20px;
  /* position: absolute; bottom: 60%; */
 }
/* body { 
  position: relative; top: 50%;
   background-color: beige; 
 } */
 .scroll {  
 /* background-color: aqua; */
 position: relative; top: 120px;
}
